<div class="card">
  <div class="card-header">
    Formulario Motocicleta
  </div>
  <div class="card-body">
    <div class="pt-2">
      <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">
        <div class="col-md-12">
          <div class="row">
            <div class="form-group col-12 col-sm-6 col-md-3">
              <label for="model" class="required">Modelo</label>
              <input type="text" class="form-control" id="model"
              [ngClass]="{'is-invalid': submitted && form.controls.model.invalid, 'is-valid': !form.controls.model.errors}"
              formControlName="model" maxlength="100">
            </div>
            <div class="form-group col-12 col-sm-6 col-md-3">
              <label for="year" class="required">Año</label>
              <input type="number" class="form-control" id="year" min="0" max="9999"
              [ngClass]="{'is-invalid': submitted && form.controls.year.invalid, 'is-valid': !form.controls.year.errors}"
              formControlName="year">
            </div>
            <div class="form-group col-12 col-sm-6 col-md-3">
              <label for="color" class="required">Color</label>
              <input type="text" class="form-control" id="color"
              [ngClass]="{'is-invalid': submitted && form.controls.color.invalid, 'is-valid': !form.controls.color.errors}"
              formControlName="color" maxlength="20">
            </div>
            <div class="form-group col-12 col-sm-6 col-md-3">
              <label for="motor" class="required">Motor</label>
              <select class="form-control" id="motor">
                <option value="0">2 cilíndros</option>
                <option value="1">3 cilíndros</option>
                <option value="2">4 cilíndros</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="float-right">
            <button type="submit" class="btn btn-primary ml-1">Guardar</button>
            <button type="button" class="btn btn-secondary ml-1" (click)="cancel()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>