<div class="card">
  <div class="card-header">
    Listado de Sedán
    <button type="button" class="btn btn-sm btn-primary float-right" (click)="new()">Nuevo</button>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Filtros</h6>
    <div class="pt-2">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="model" class="sr-only">Modelo</label>
          <input type="text" class="form-control" id="model" placeholder="Modelo" [(ngModel)]="model" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="button" class="btn btn-secondary mb-2 ml-1" (click)="search()">Buscar</button>
        <button type="button" class="btn btn-secondary mb-2 ml-1" (click)="clean()">Limpiar</button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped"  aria-describedby="Sedan table">
      <thead>
        <tr>
          <th scope="col">Modelo</th>
          <th scope="col">Año</th>
          <th scope="col">Color</th>
          <th scope="col"># Llantas</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }">
          <td>{{ item.model }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.wheel }}</td>
          <td style="width: 160px;">
            <button type="button" class="btn btn-sm btn-info ml-1" (click)="edit(item)">Editar</button>
            <button type="button" class="btn btn-sm btn-danger ml-1" (click)="delete(item)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col-md-12">
      <div class="float-right">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>