<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="nav-link active" href="/sedan">Sedán</a>
  <a class="nav-link" href="/motorcycle">Motocicleta</a>
</nav>

<main role="main" class="col-12 px-4 pt-6">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>