<div class="row h-100">
  <div class="col-12 my-auto">
      <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off" class="form-signin border shadow p-3 mb-5 bg-white rounded">
          <h3 class="text-center txt-primary">
              Inicio de sesión
          </h3>
          <hr />
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Usuario" id="user"
                  [ngClass]="{'is-invalid': submitted && form.controls.username.invalid, 'is-valid': !form.controls.username.errors}"
                  formControlName="username" maxlength="50" />
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" id="password"
                  [ngClass]="{'is-invalid': submitted && form.controls.password.invalid, 'is-valid': !form.controls.password.errors}"
                  formControlName="password" maxlength="50"/>
          </div>
          <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="submitting">
              Login
          </button>
      </form>
  </div>
</div>